# Firebase Configuration Keys Example
VITE_FIREBASE_API_KEY=AIzaSyA6Cbr7-JA0sjHw_URU1-FXNTlTMceZ4Uo
VITE_FIREBASE_AUTH_DOMAIN=kokan-nirvana.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kokan-nirvana
VITE_FIREBASE_STORAGE_BUCKET=kokan-nirvana.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=513364188410
VITE_FIREBASE_APP_ID=1:513364188410:web:72fab3f6a3e32b842abd43